<html>
<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
		th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container">
    	<div class="starter-template">
        	<h1>Dynamically Generated Sentence</h1>

        	<p class="lead">
				<span>
					<a href="/services/subject" target="_blank">subject</a>
				</span>
				<span>
					<a href="/services/verb" target="_blank">verb</a>
				</span>
				<span>
					<a href="/services/article" target="_blank">article</a>
				</span>
				<span>
					<a href="/services/adjective" target="_blank">adjective</a>
				</span>
				<span>
					<a href="/services/noun" target="_blank">noun</a>
				</span>
      	</div>

    </div>

</body>
</html>